:root {

    /* font-family */
    --ff-golos: "Golos Text", sans-serif;
    --ff-merriweather: "Merriweather", serif;

    /* color */
    --color-text-primary: #313131;
    --color-text-accent: #F54932;
    --color-text-note: #3057A2;
    --color-button-primary: #1F1F1F;
    --color-button-secondary: #FBCE51;
}
html {
    font-size: 10px;
    overflow-x: hidden;
}

body {
    font-family: var(--ff-golos);
    color: var(--color-text-primary);
}

.container {
    width: 100%;
    max-width: 1252px;
    padding: 0 15px;
    margin: 0 auto;
}

.title {
    font-family: var(--ff-merriweather);
    color: #313131;
    font-weight: 400;
    font-size: 6rem;
    line-height: 110%;
    text-transform: uppercase;
}